.list-style {
    list-style-type: none;
}
input {
    width: 50px;
}

.list-modal {
    height: 570px;
    overflow-y: auto;
    li {
        font-size: 30px;
        text-align: left;
        margin-left: 28%
    }
}
.button-search {
    margin: 2% 40%;
    font-size: 30px;
    background-color: red;
    cursor: pointer;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    h2 {
        font-size: 30px;
        color: #831010;
        
    }
}
p {
    font-size: 20px;
}
.title-div {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 87%;
    padding-left: 113px;
    border-radius: 9%;
    margin: -18px 0 0 -16px;

}
