.buttonLoad {
    float: left;
    margin: 0px 48%;
    padding: 24px 12px;
    text-transform: uppercase;
    border-radius: 100%;
    border: 3px dotted #ffffff;
    cursor: pointer;
    font-size: larger;
    color:#ffffff;
    background-color:#831010;
    z-index: -1;
}

.buttonModal {
    float: left;
    margin: -80px 90% 40px 90%;
    padding: 5px 5px;
    text-transform: uppercase;
    border-radius: 100%;
    border: 3px dotted #ffffff;
    cursor: pointer;
    font-size: 15px;
    color:#ffffff;
    background-color:#831010;
    z-index: -1;

}
.buttonModal img {
    width: 50px;
    height: 50px;
}
